<h1>Stupid Coaching: Answer</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<div class="container">
  <h2 class="header">Question:</h2>
  <p><%= @question %></p>
  <h2 class="header">Answer:</h2>
  <p><%= @answer %></p>
</div>

<div class="back-btn"><%= link_to "Back to ask a question", ask_path %></div>
