<h1>Stupid Coaching: Ask a question</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<div class="container">
  <p class="header">Ask your coach anything:</p>
  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask the question!" id="submit-btn">
  </form>
</div>
